

.page-title {
    font-size: 25px;
    text-align: center;
    background-color: navy;
    color: white;
}

.recipes-container {
    border: solid navy 2px;
}

h2 {
    text-align: center;
}


ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
li {
    font-size: 18px;
    margin: 10px;
}

img {
    width: 500px;
    height: auto;
    margin: 25px auto;
    display: block;
}